<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>im in the app component</h3>
            <hr>
            <!-- Nesting: Vi har herunder nested server-component i servers component - Check servers Component -->
            <app-servers></app-servers> 
            <!-- <div app-servers ></div> skal bruge '[app-servers]' i selector attributen i servers component--> 
            <!-- <div class="app-servers"></div> kræver en css classe reference i app component -->
            <app-succes-alert></app-succes-alert>
            <app-warning-alert></app-warning-alert>

        </div>
    </div>
</div>
